#list li:nth-child(even){
    background-color: red;
}

#list li:nth-child(odd):hover {
    background-color: green;
}

li{
    display: inline;
    border: black solid 2px
}


#table tr:nth-child(odd){
    background-color: gray;
}

nav{
    border: black solid 1px;
    min-height: 10%
}

.row{
    float: left;
    width: 100%;
}

aside{
    float: left;
    width: 20%;
}

#sections{
    float: left;
    width: 80%;
}
