nav{
    background-color:#ff0000;
    border
}

p{
    background-color: blue;
}

nav li{
    display: inline;
}

#id1{
    background-color: brown;
}

.g{
    background-color: gray;
}

a[href="https://rateyourmusic.com/~Kapaika"]{
    background-color: chartreuse;
}

h2.g{
    color:gold;
}

#list li:hover {
    background-color: white;
}

#list li:nth-child(odd){
    background-color: wheat;
}

body > header {
    margin-top: 20px;
    padding-left: 20px;
    border: black solid 1px;
    background-color: lavenderblush;
}
